*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: cadetblue;
    color: white;
}
.cabecalho{
    display: flex;
    align-items: center;
}
.cabecalho img{
    margin: auto;
}
.cabecalho nav{
    margin: auto;
}
.cabecalho ul{
    list-style: none;
}
.cabecalho li{
    display: inline-block;
    margin: 10px;
}
.tituloprincipal{
    text-align: left;
    padding: 50px;
}
.seguraconteudo{
    display: flex;
}
.conteudo h3,h2{
    text-align: center;
    padding: 50px;
}
.conteudo h2{
    text-align: left;
}
.jogosflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.jogos{
    margin: 0px 10px;
}
.menulateralesquerdo{
    background-color: bisque;
    padding: 20px;
}
.campodebusca{
  text-align: center;   
}
.campodebusca input{
    height: 50px;
    width: 200px;
}
.campodebusca button{
    padding: 15px;
}
.anuncios , .redessociais{
    margin: 30px 0px;
}
.redessociais{
    text-align: center;
}
.redessociais p{
    margin: 20px 0px;
}
.proximapagina{
  text-align: center;
}
.proximapagina button{
    padding: 5px;
    margin: 100px 5px;
}
.segurainformacoes{
    display: flex;
    align-items: center;
}
.infor{
    margin: 0px 50px 200px 50px;
}